.search-input {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.result-card {
  min-width: fit-content;
  width: calc(100% / 3 - 0px);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}